*
.*
!ext/
!gui/
!rdb/
!sub/
!wrt/
gui/node_modules
gui/coverage
gui/build

rdb/.env
rdb/src/__pycache__
rdb/test/__pycache__
rdb/test/routes/ca-east/yhm/shapes.txt
rdb/test/routes/ca-east/yhm/trips.txt
rdb/test/routes/ca-east/yhz/shapes.txt
rdb/test/routes/ca-east/yhz/trips.txt
rdb/test/routes/ca-east/yqt/shapes.txt
rdb/test/routes/ca-east/yqt/trips.txt
rdb/test/routes/ca-east/yul/shapes.txt
rdb/test/routes/ca-east/yul/trips.txt
rdb/test/routes/ca-east/yyz/shapes.txt
rdb/test/routes/ca-east/yyz/trips.txt
rdb/test/routes/ca-west/yeg/shapes.txt
rdb/test/routes/ca-west/yeg/trips.txt
rdb/test/routes/ca-west/yvr/shapes.txt
rdb/test/routes/ca-west/yvr/trips.txt
rdb/test/routes/ca-west/yxe/shapes.txt
rdb/test/routes/ca-west/yxe/trips.txt
rdb/test/routes/ca-west/yyc/shapes.txt
rdb/test/routes/ca-west/yyc/trips.txt
rdb/test/routes/eu-cent/prg/shapes.txt
rdb/test/routes/eu-cent/prg/trips.txt
rdb/test/routes/eu-west/ams/shapes.txt
rdb/test/routes/eu-west/ams/trips.txt
rdb/test/routes/eu-west/dub/shapes.txt
rdb/test/routes/eu-west/dub/trips.txt
rdb/test/routes/eu-west/fco/agency.txt
rdb/test/routes/eu-west/fco/shapes.txt
rdb/test/routes/eu-west/fco/trips.txt
rdb/test/routes/eu-west/hel/agency.txt
rdb/test/routes/eu-west/hel/shapes.txt
rdb/test/routes/eu-west/hel/trips.txt
rdb/test/routes/oc-full/adl/shapes.txt
rdb/test/routes/oc-full/adl/trips.txt
rdb/test/routes/oc-full/akl/shapes.txt
rdb/test/routes/oc-full/akl/trips.txt
rdb/test/routes/oc-full/bne/shapes.txt
rdb/test/routes/oc-full/bne/trips.txt
rdb/test/routes/oc-full/chc/shapes.txt
rdb/test/routes/oc-full/chc/trips.txt
rdb/test/routes/oc-full/syd/shapes.txt
rdb/test/routes/oc-full/syd/trips.txt
rdb/test/routes/us-cent/cmh/shapes.txt
rdb/test/routes/us-cent/cmh/trips.txt
rdb/test/routes/us-cent/dsm/shapes.txt
rdb/test/routes/us-cent/dsm/trips.txt
rdb/test/routes/us-cent/msn/shapes.txt
rdb/test/routes/us-cent/msn/trips.txt
rdb/test/routes/us-cent/msp/shapes.txt
rdb/test/routes/us-cent/msp/trips.txt
rdb/test/routes/us-cent/stl/shapes.txt
rdb/test/routes/us-cent/stl/trips.txt
rdb/test/routes/us-east/bos/shapes.txt
rdb/test/routes/us-east/bos/trips.txt
rdb/test/routes/us-east/dca/shapes.txt
rdb/test/routes/us-east/dca/trips.txt
rdb/test/routes/us-east/nyc/bronx/shapes.txt
rdb/test/routes/us-east/nyc/bronx/trips.txt
rdb/test/routes/us-east/nyc/brooklyn/shapes.txt
rdb/test/routes/us-east/nyc/brooklyn/trips.txt
rdb/test/routes/us-east/nyc/manhattan/shapes.txt
rdb/test/routes/us-east/nyc/manhattan/trips.txt
rdb/test/routes/us-east/nyc/queens/shapes.txt
rdb/test/routes/us-east/nyc/queens/trips.txt
rdb/test/routes/us-east/nyc/staten/shapes.txt
rdb/test/routes/us-east/nyc/staten/trips.txt
rdb/test/routes/us-east/phl/shapes.txt
rdb/test/routes/us-east/phl/trips.txt
rdb/test/routes/us-east/pit/shapes.txt
rdb/test/routes/us-east/pit/trips.txt
rdb/test/routes/us-mntn/aus/shapes.txt
rdb/test/routes/us-mntn/aus/trips.txt
rdb/test/routes/us-mntn/den/shapes.txt
rdb/test/routes/us-mntn/den/trips.txt
rdb/test/routes/us-mntn/phx/shapes.txt
rdb/test/routes/us-mntn/phx/trips.txt
rdb/test/routes/us-mntn/sat/shapes.txt
rdb/test/routes/us-mntn/sat/trips.txt
rdb/test/routes/us-suth/atl/shapes.txt
rdb/test/routes/us-suth/atl/trips.txt
rdb/test/routes/us-suth/bna/shapes.txt
rdb/test/routes/us-suth/bna/trips.txt
rdb/test/routes/us-suth/mia/shapes.txt
rdb/test/routes/us-suth/mia/trips.txt
rdb/test/routes/us-suth/sdf/shapes.txt
rdb/test/routes/us-suth/sdf/trips.txt
rdb/test/routes/us-suth/tpa/shapes.txt
rdb/test/routes/us-suth/tpa/trips.txt
rdb/test/routes/us-west/lax/shapes.txt
rdb/test/routes/us-west/lax/trips.txt
rdb/test/routes/us-west/pdx/shapes.txt
rdb/test/routes/us-west/pdx/trips.txt
rdb/test/routes/us-west/san/shapes.txt
rdb/test/routes/us-west/san/trips.txt
rdb/test/routes/us-west/sea/shapes.txt
rdb/test/routes/us-west/sea/trips.txt
rdb/test/routes/us-west/sfo/shapes.txt
rdb/test/routes/us-west/sfo/trips.txt
rdb/test/routes/us-west/smf/shapes.txt
rdb/test/routes/us-west/smf/trips.txt